<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key ="LoginUrl" value="https://login.microsoftonline.com/{0}"/>
    <add key ="ResourceUrl" value="https://management.core.windows.net/"/>
    <add key ="ClientId" value="122f0700-0075-4ea0-b3cf-a81551926fda"/>
  </appSettings>
</configuration>